#q,#w,#e,#r,#t,#y,#u,#i,#o,#p,#a,#s,#d,#f,#g,#h,#j,#k,#l,#z,#x,#c,#v,#b,#n,#m {
    width: 30px;
    height: 30px;
    border-color: grey;
    background-color: white;
    font-size: 20px;
    padding: 0px;
    border-radius: 5px;
    color: #000000;
}

body {
    background-color: #FFDAB9;
}

p1 {
    font-size: 20px;
}